HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

.env

# Ignora arquivos de log e temporários do MySQL/InnoDB
*.dblwr
# Ignora arquivos de redo log
data/innodb_redo/
# Ignora arquivos de undo log
data/innodb_undo/
# Ignora arquivos de definição de esquema
data/*.sdi
# Ignora o diretório de performance_schema inteiro
data/performance_schema/
# Outros arquivos temporários do MySQL que podem aparecer
data/*.err
data/mysql.log
/data/

# Específico para os temporários
data/#ib_redo*.tmp

# Diretório de build do Maven e Gradle, onde ficam os arquivos .jar
target/
build/

# Ignorar o arquivo .jar que o Maven ou Gradle geram
*.jar
*.war